@import "variables.scss";
@import "mixin.scss";

.access {
  text-align: center;
  background-color: $dark-blue-tstimoinals;
  padding-bottom: 5rem;
  padding-top: 3rem;
  transform: translateY(19rem);
  max-width: 90%;
  margin: auto;
  box-shadow: 0px 0px 10px 5px $dark-blue-footer;
  border-radius: 10px;
}

.access__header {
  margin: 0;
}

.access__paragraph {
  line-height: $paragraph-line-height;
  font-size: 18px;
  font-weight: 400;
  margin-block: 2rem;
}

[for="email"] {
  display: none;
}

.access__heading {
  font-size: 23px;
  line-height: 45px;
}

.access__form {
  margin: 0;
  fieldset, 
  fieldset:focus {
    border: none;
    outline: none;
  }
}

.access__button,
input {
  display: block;
  padding: 2.5em;
  width: 85%;
  border-radius: 50px;
  margin: auto;
  margin-block: 1rem;
  box-sizing: border-box;
}

input {
  text-align: center;
}

.access__button {
  background-color: $blue;
  color: $white;
  border: none;
}

@media (min-width: 1000px) {
  .access {
    max-width: 70%;
    margin: auto;
    padding-inline: 2rem;
  }
  
  .access__form {
    display: flex;
    flex-direction: row;
    > :nth-child(1) {
      flex-basis: 250%;
    }
    .access__button,
    input {
      padding-block: 1.5rem;
    }
    
    input {
      text-align: start;
    }
  }
}

