body {
  font-family: "Open-Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}