@import "variables.scss";
@import "mixin.scss";

.footer {
  padding: 5rem 0 4rem 0;
  background-color: $dark-blue-footer;
  padding: 1rem;
}

.footer__contiainer {
  margin: 0;
}


.footer__logo {
  margin: 0;
}

.footer__contact {
  margin-block: 3rem;
}

.contact__locatio, 
.contact__phone, 
.contact__email {
  padding-inline-start: 3rem;
  background-repeat: no-repeat;
  background-position: top left;
  line-height: $paragraph-line-height;
  a {
    color: $white;
  }
}



.contact__locatio {
  background-image: url('../images/icon-location.svg');
  margin-block: 1rem;
}

.contact__phone {
  background-image: url('../images/icon-phone.svg');
  margin-block: 1rem;
}

.contact__email {
  background-image: url("../images/icon-email.svg");
  margin-block: 1rem;
}

.footer__about {
  padding-block: 3rem;
}

.about__link, 
.terms__link {
  display: inline-block;
  color: $white;
  padding-block: 1rem;
}

.footer__terms {
  padding-bottom: 3rem;
}

.media__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.media__link {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  border: solid 2px $white;
  border-radius: 50%;
  span {
    visibility: hidden;
  }
}

.facebook {
  background-image: url('../images/logo-facebook.svg');
}

.instagram {
  background-image: url('../images/logo-instagram.svg');
}

.twitter {
  background-image: url('../images/logo-twitter.svg');
}