.masthead__container {
  text-align: center;
  margin-bottom: 8rem;
  img {
    width: 100%;
    height: 100%;
  }
}

.masthead__heading {
  font-size: 28px;
  font-weight: bolder;
  font-style: normal;
  padding-block: 2rem;
  line-height: 56px;
}

.masthead__paragraph {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  padding-block: 2rem;
}

.masthead__button.btn {
  padding-block: 1rem;
  width: 80%;
  display: block;
  border: none;
  color: $white;
  background-color: $blue;
  margin: auto;
  border-radius: 30px;
}

.masthead__button.btn:hover,
.masthead__button.btn:focus,
.masthead__button.btn:active {
  background-color: $cyan;
}

@media (min-width: 1000px) {
  .masthead__button.btn {
    max-width: 400px;
  }
  
  .masthead__container {
    max-width: 40%;
    margin: auto;
  }
}