@import "variables.scss";
@import "mixin.scss";

.team {
  max-width: 90%;
  margin: auto;
}

.team__heading {
  display: none;
}

.team__card {
  margin-block: 2rem;
  background-color: $dark-blue-tstimoinals;
  padding: 3rem 1rem;
  width: 72%;
  margin-inline: auto;
  border-radius: 4px;
}

.card__paragraph {
  margin-block: 1rem;
  line-height: $paragraph-line-height;
  font-weight: 400;
}

.card__profile {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.profile__text {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: baseline;
}

.profile__image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}