//- Dark Blue (intro and email sign up background): 
$dark-blue: hsl(217, 28%, 15%);
//- Dark Blue (main background): 
$dark-blue-main: hsl(218, 28%, 13%);
//- Dark Blue (footer background): 
$dark-blue-footer: hsl(216, 53%, 9%);
//- Dark Blue (testimonials background): 
$dark-blue-tstimoinals: hsl(219, 30%, 18%);

//- Cyan (inside call-to-action gradient): 
$cyan: hsl(176, 68%, 64%);
//- Blue (inside call-to-action gradient): 
$blue: hsl(198, 60%, 50%);
//- Light Red (error): 
$light-red: hsl(0, 100%, 63%);
//- White:
$white: hsl(0, 0%, 100%);